<div class="action-item">
  <span class="action-item-title">{{name}}</span>
  <button mat-icon-button *ngIf="!isFinished()">
    <mat-icon>stop</mat-icon>
  </button>
  <button mat-icon-button *ngIf="isFinished()">
    <mat-icon>replay</mat-icon>
  </button>
  <div class="timebox-bar">
    <div class="timebox" *ngFor="let box of timeboxes()">
      <span class="background" *ngIf="!box.complete && !box.overage"></span>
      <span class="background complete" *ngIf="box.complete"></span>
      <span class="background overage" *ngIf="box.overage"></span>
    </div>
  </div>
  <button mat-icon-button *ngIf="!isFinished()">
    <mat-icon>play_arrow</mat-icon>
  </button>
</div>
