.timebox-bar {
  display: flex;
}
.timebox {
  width: 0.5rem;
  height: 0.5rem;
}

.timebox .background {
  display: block;
  background-color: #d9ceed;
  width: 100%;
  height: 100%;
}

.timebox .background.complete {
  background-color: #673ab7;
}

.timebox .background.overage {
  background-color: #f6ff00;
}

.timebox .background.overage.complete {
  background-color: #ff0000;
}
