<div class="action-bar">
  <div class="action-bar-header">
    <span class="action-bar-title">Projects</span>
    <span class="spacer"></span>
    <button mat-icon-button (click)="newProject()">
      <mat-icon>add_circle</mat-icon>
    </button>
  </div>
</div>
<app-new-project
  *ngIf="newProjectActive"
  (addProjectEvent)="addProject($event)"
  (cancelAddProjectEvent)="cancelAddProject()"
></app-new-project>
<mat-accordion>
  <app-project
    *ngFor="let project of projects"
    [uid]="project.uid"
    [name]="project.name"
    [tasks]="project.tasks"
  ></app-project>
</mat-accordion>
