<mat-expansion-panel hideToggle>
  <mat-expansion-panel-header>
    <mat-panel-title>{{name}}</mat-panel-title>
    <mat-panel-description>
      <mat-progress-bar mode="determinate" [value]="progress"></mat-progress-bar>
    </mat-panel-description>
  </mat-expansion-panel-header>
  <div class="action-bar">
    <div class="action-bar-header">
      <span class="action-bar-title">Tasks</span>
      <span class="spacer"></span>
      <button mat-icon-button (click)="newTask()">
        <mat-icon>add_circle</mat-icon>
      </button>
    </div>
    <div class="action-bar-content">
      <app-new-project-task
        *ngIf="newTaskActive"
        (addTaskEvent)="addTask($event)"
        (cancelAddTaskEvent)="cancelAddTask()"
        [projectUid]="uid"
      ></app-new-project-task>
      <app-project-task
        *ngFor="let task of tasks"
        [projectUid]="uid"
        [uid]="task.uid"
        [name]="task.name"
        [estimate]="task.estimate"
        [timeWindows]="task.timeWindows"
        [finished]="task.finished"
      ></app-project-task>
    </div>
  </div>
</mat-expansion-panel>
